@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {

}

* {
  box-sizing: border-box;
  font-family: "Roboto", monospace;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-07-super-trunfo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container__logo {
  max-height: 90px;
}

.container__button {
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}

.container__image {
  height: 60vh;
  border-radius: 50%;
  border: 17px double rgb(184 129 62);
  margin-top: 80px;
  box-shadow: 0px 110px 500px 130px rgb(184 129 62);
}

.container__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
}

.form__tittle {
  color: white;
  margin: 10px 0 40px;
}

.form__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.player__card, .engine__card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: fit-content;
  height: fit-content;
}

.card__image {
  border-radius: 5px;
  box-shadow: 0px 0px 50px 10px rgb(184 129 62);
  height: 60%;
  width: 22vw;
}

.card__attributes {
  margin-top: 40px;
  color: white;
}

.container__result {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 1rem;
  border: 2px solid black;
  background-color: black;
}