@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

/* :root {
} */

* {
  box-sizing: border-box;
  font-family: "Roboto", monospace;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-07-super-trunfo-bg.png");
  background-repeat: repeat;
  background-size: cover;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.container__logo {
  margin-bottom: 10px;
  max-height: 50px;
}

.container__button {
  border-radius: 10px;
  cursor: pointer;
  font-size: 80%;
  font-weight: bolder;
  margin: 0 0 7px 0;
  padding: 4px 8px;
}

.container__button:hover {
  background-color: black;
  color: rgb(184 129 62);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.container__image {
  border-radius: 50%;
  border: 17px double rgb(184 129 62);
  box-shadow: 0 110px 500px 130px rgb(184 129 62);
  height: 60vh;
  margin-top: 80px;
}

.container__image:hover {
  border: 80px double whitesmoke;
  box-shadow: 0 400px 4000px 400px white;
  cursor: pointer;
  transition-duration: 2.5s;
  transition-timing-function: ease-out;
}

.container__form {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form__tittle {
  color: white;
  cursor: default;
  font-size: 19px;
  font-weight: bolder;
  margin: 10px 0 10px;
}

.form__wrapper {
  display: flex;
  flex-direction: row;
}

.player__card,
.engine__card {
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
  width: fit-content;
}

.card__attributes {
  color: white;
  margin: 5px 0 30px;
}

.card__image {
  border-radius: 5px;
  box-shadow: 0 0 50px 10px rgb(184 129 62);
  height: 100%;
  width: 18vw;
}

.card__radio {
  margin: 0 !important;
}

.card__label {
  font-weight: normal;
  margin: 0;
}

.container__result {
  border-radius: 14px;
  border: 2px dotted rgb(184 129 62);
  box-shadow: 0 0 12px 5px rgb(184 129 62);
  color: white;
  cursor: default;
  font-size: 3vw;
  font-weight: bolder;
  margin: 10px;
  padding: 4px;
  width: fit-content;
}

.form__deck {
  color: white;
  cursor: default;
  font-size: 20px;
  font-weight: bolder;
  margin: 45px 0 20px;
}

.carousel__container {
  width: 30%;
}

@media only screen and (max-width: 900px) {
  .container__logo {
    max-height: 40px;
  }

  .form__wrapper {
    flex-direction: column;
  }
  
  .card__image {
    width: 40vw;
  }

  .card__attributes {
    font-size: 3.2vw;
    margin: 25px;
  }

  .card__attributes input {
    height: 2.2vw;
  }

  .carousel__container {
    width: 38vw;
  }
}
