@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {
}

* {
  box-sizing: border-box;
  font-family: "Roboto", monospace;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-07-super-trunfo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: fit-content;
  min-width: fit-content;
  padding: 10px;
}

.container__logo {
  max-height: 90px;
}

.container__button {
  border-radius: 5px;
  font-size: 16px;
  margin: 7px 0;
  padding: 4px 8px;
  cursor: pointer;
  width: fit-content;
  align-self: center;
}

.container__image {
  height: 60vh;
  width: fit-content;
  border-radius: 50%;
  border: 17px double rgb(184 129 62);
  margin-top: 80px;
  box-shadow: 0px 110px 500px 130px rgb(184 129 62);
  align-self: center;
}

.container__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90vw;
}

.form__tittle {
  color: white;
  margin: 10px 0 5px;
}

.form__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.player__card,
.engine__card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: fit-content;
}

.card__image {
  border-radius: 5px;
  box-shadow: 0px 0px 50px 10px rgb(184 129 62);
  height: 310px;
  width: 20vw;
}

.card__attributes {
  margin: 5px 0 30px;
  color: white;
}

.container__result {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px;
  background-color: rgb(184 129 75);
  box-shadow: 0px 0px 50px 15px rgb(184 129 62);
}

@media only screen and (max-width: 800px) {
  .container__logo {
    max-height: 40px;
  }

  .form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .player__card,
  .engine__card {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    align-items: center;
  }

  .card__image {
    height: fit-content;
    width: 40vw;
  }

  .card__attributes {
    margin: 30px 0 10px;
    font-size: 2.8vw;
  }

  .card__attributes input {
    height: 2.2vw;
  }
}
